@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap');
@import '../../../styles.scss';

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;


#login {
    max-width: 650px;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    @media screen and (max-width: 992px) {
      // max-width: 680px;
      // height: 400px;
    }

    @media screen and (max-width: 768px) {
      min-height: 500px;
      height: auto;
      // margin: 180px auto;
      width: 500px;
    }

    @media screen and (max-width: 500px) {
      min-height: 500px;
      height: auto;
      // margin: 180px auto;
      width: 350px;
    }


    @media screen and (max-height: 500px) and (min-width: 992px) {
      height: 350px;
    }

    .login_item {
      display: flex;
      align-items: center;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        max-width: 100%;
        
      }
    }

    .login_img {
        width: 600px;
        flex-shrink: 0;
        height: 600px;
        background-image: url('../../../assets/bgpplR.png');
        background-size: contain;
        background-position: center;
       
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          opacity: 0;
          border-radius: 20px;
          transition: all .3s;
        }
  
  
        @media screen and (max-width: 992px) {
          // width: 45%;
        }
  
        @media screen and (max-width: 768px) {
          transform: translateY(-20%);
          max-width: 100%;
          width: 350px;
        }
  
        @media screen and (max-width: 568px) {
          max-width: 100%;
          width: 350px;
        }
  
        @media screen and (max-height: 500px) and (min-width: 992px) {
          height: 270px;
        }
      }

    

    

   

    .formLogin {
        width: 600px;
        flex-shrink: 0;
        height: 600px;
        background-image: url('../../../assets/Body-home1.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          opacity: 0;
          border-radius: 20px;
          transition: all .3s;
        }
  
  
        @media screen and (max-width: 992px) {
          // width: 45%;
        }
  
        @media screen and (max-width: 768px) {
          transform: translateY(-20%);
          max-width: 100%;
          width: 350px;
        }
  
        @media screen and (max-width: 568px) {
          max-width: 100%;
          width: 350px;
        }
  
        @media screen and (max-height: 500px) and (min-width: 992px) {
          height: 270px;
        }
      }
  }
}